<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <a href="/authorize?response_type=code&client_id=1234&state=xyz&scope=everything&redirect_uri=http%3A%2F%2Flocalhost%3A14000%2Fappauth%2Fcode">Code</a><br/>
  <a href="/authorize?response_type=token&client_id=1234&state=xyz&scope=everything&redirect_uri=http%3A%2F%2Flocalhost%3A14000%2Fappauth%2Ftoken">Implicit</a><br/>
  <a href="/appauth/password">Password</a><br/>
  <a href="/appauth/client_credentials">Client Credentials</a><br/>
  <a href="/appauth/assertion">Assertion</a><br/>
</body>
</html>